### Practice Exercise1

**1. show all the database present in mysql**

show databases;

**2. Use the database sakila as listed in mysql**

use sakila;

**3. Show all the tables present in sakila database**

show tables from sakila;

#### 4. Describe actor table

describe actor;

#### 5. Display the first and last names of all actors from the table actor.

select first_name,last_name from actor;

#### 6. Display the first and last name of each actor in a single column in upper case letters. Name the column Actor Name.

select upper(concat(first_name,' ',last_name)) as Full_Name
from actor;

#### 7. You need to find the ID number, first name, and last name of an actor, of whom you know only the first name, "Joe." What is one query would you use to obtain this information?

select actor_id, first_name,last_name 
from actor 
where first_name='Joe';
---Note: Comparison case insensitive so no need to thing about upper or lower case

#### 8. Find all actors whose last name contain the letters GEN:

select * 
from actor
where last_name like '%GEN%';
--Note: There is no need to use upper or lower as like is case sensitive

#### 9. Find all actors whose last names contain the letters LI. This time, order the rows by last name and first name, in that order:

select * 
from actor
where last_name like '%LI%' 
order by last_name,first_name;

#### 10. Using IN, display the country_id and country columns of the following countries: Afghanistan, Bangladesh, and China

select country_id, country 
from country
where country in ('Afghanistan','Bangladesh','China');

#### 11. You want to keep a description of each actor. You don't think you will be performing queries on a description, so create a column in the table actor named description and use the data type BLOB (Make sure to research the type BLOB, as the difference between it and VARCHAR are significant).

Select * from actor;

select * from actor;
alter table actor 
add description BLOB;

Select * from actor;

#### 12. Very quickly you realize that entering descriptions for each actor is too much effort. Delete the description column